@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

$background-color: #00395d;
$font-family: "Roboto", sans-serif;

@mixin btn($fontcolor: #fafafa) {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  outline: 0;
  border: 0;
  width: 100%;
  padding: 15px;
  background: #00395d;
  color: $fontcolor;
  text-transform: uppercase;
  align-items: center;
}

@mixin message($fontcolor: #ffffff) {
  color: $fontcolor;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

@mixin input($bkgnd: #ffffff) {
  font-family: $font-family;
  width: 100%;
  height: auto;
  margin-top: 25px;
  padding: 0px;
  outline: 0;
  font-size: 18px;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  background: $background-color;
  background-repeat: no-repeat;
}

.login-form-box {
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 550px;
  max-width: 350px;
  padding: 45px;
  background: #ffffff;
  box-shadow: 3px 3px 8px rgba(0, 0, 0.5, 0.85);
  border-radius: 8px;
}

.Signup-form-box {
  position: relative;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 550px;
  max-width: 350px;
  padding: 45px;
  padding-top: 10px;
  background: #ffffff;
  box-shadow: 3px 3px 8px rgba(0, 0, 0.5, 0.85);
  border-radius: 8px;
}

.subLine-text {
  font-size: 15px;
  color: #9e9f9f;
  text-align: center;
  img {
    width: 115px;
    max-width: 100%;
  }
}

.login-form-box {
  input {
    @include input;

    ::placeholder {
      color: #90a4ae;
    }
  }

  .btn {
    @include btn;
    margin-bottom: 20px;
  }

  .message {
    @include message;
    a {
      text-decoration: none;
      color: #00bfa5;
    }
  }
}

.Signup-form-box {
  input {
    @include input;

    ::placeholder {
      color: #90a4ae;
    }
  }

  .btn {
    @include btn;
    margin-bottom: 20px;
  }

  .message {
    @include message;
    a {
      text-decoration: none;
      color: #00bfa5;
    }
  }
}

.login-form {
  width: 100%;
  padding: 20px 0;
  margin: 5px 0;
  box-sizing: border-box;
}

.Signup-form {
  width: 100%;
  padding: 00px 0;
  margin: 15px 0;
  box-sizing: border-box;
}

.login-form-page {
  overflow: hidden;
  position: relative;
}

.page-bg {
  opacity: 0.4;
  position: absolute;
  left: 0;
  top: 0;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}
