.login__papers__style {
  height: 100%;
  width: 350px;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

.Login__btn {
  padding: 14px;
  width: 100%;
  background-color: #142434;
  color: white;
  font-size: 18px;
}
.Login__btn:hover {
  padding: 14px;
  width: 100%;
  background-color: #acc344;
  color: white;
  font-size: 18px;
}

.login__bg__image {
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  background-image: url("../images/loginupbg2.jpg");
}

.login__form__checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
}

.login__fg__password {
  padding-left: 200px;
  padding-bottom: 30px;
  margin-top: -43px;
}

.login__dont__have__account {
  padding: 5px;
  padding-top: 15px;
  align-items: center;
}

.login__powered__by {
  font-size: 15px;
  color: #9e9f9f;
  text-align: center;
  padding-top: 30px;
  padding-right: 20px;
}

.login__mitkat__logo {
  width: 170px;
  max-width: 100%;
  height: 70px;
}