.signup__paper__style {
    padding: 20px;
    height: 75%;
    width: 650px;
    margin: 20px;
  }

.signup__Button {
    width: 100%;
    background-color: #142434;
    color: white;
    font-size: 18px;
    padding: 12px;
  }
  
.signup__Button:Hover {
    width: 100%;
    background-color: #acc344;
    color: white;
    font-size: 18px;
    padding: 12px;
  }

  .signup__bg__image {
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    background-image: url("../images/loginupbg2.jpg");
  }

  .signup__already__have__account{
    padding: 5px;
    padding-top: 45px;
    align-items: center
  }

  .signup__powered__by{
        font-size: 15px,;
        color: #9e9f9f;
        text-align: right;
        margin-top: -25px;
        margin-bottom: 50px;
        margin-right: 210px
  }

  .signup__mitkat__logo{
    width: 150px;
    max-width: 100%;
    height: 70px;
    margin-top: -150px;
    margin-left: 450px;
    padding-bottom: 48px;
  }